img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.tram{
  width: 96%;
  height: auto;
  border-radius: 5%;
  margin: 0 auto;
  display: block;
}

.padding{
  padding: 0 1vw;
}

.bigger{
  font-size: 28px;
}

h1{
  margin-top: 3px;
  margin-bottom: 0;
  font-weight: normal;
}

p{
  margin-top: 0;
}

.time{
  text-align: right;
}

.green{
  color: #66ff99;
}

.pink{
  color: #ff99cc;
}

.blue{
  color: #33ccff;
}

header{ grid-area: hd;}
aside{ grid-area: side;}
article{ grid-area: main;}

body{
  margin: 0;
}

.maincontent{
  display: grid;
  grid-template-areas:
    "hd hd hd"
    "side main main";
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e6e6e6;
  height: 5vh;
  
}

.search{
  height: 5vh;
  border-bottom: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input{
  width: 90%;
  height: 70%;
}

aside{
  min-width: 400px;
}

aside section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f2f2f2;
  height: 10vh;
  padding: 0 1em;
}


aside .list{
  overflow: scroll;
  height: 80vh;
}

.message{
  grid-column: 2/-1;
}

.list div{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: auto auto;
  grid-auto-flow: dense;
  align-items: center;
  gap: 3px;
  border-bottom: solid 1px #e6e6e6;
  padding: 0 1em;
}

.list img{
  grid-row-end: span 2;
  margin-right: 1em;
}

article{
  height: 95vh;
  min-width: 400px;

}

article header{
  background: #d9d9d9;
  height: 10vh;
  display: flex;
  align-items: center;
}

article header div{
  display: flex;
  align-items: center;
}

article header img{
  margin-right: 1em;
}

article main{
  overflow: scroll;
  background: #e0e0d1;
  height: 75vh;
}

article footer{
  background: #ecd9c6;
  position: sticky;
  bottom: 0vh;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer input{
  width: 80%;
  height: 70%;
  border: white;
}

main div{
  background: white;
  width: 40%;
  float: left;  
  clear: both;
  border-radius: 10px;
  margin: 15px 0 10px 8%;
  padding: 0 3px;
  position: relative;
}


.rightside{
  /* background: #e6ffe6; */
  margin: 0 0 0 auto;
  float: right;
  margin: 0 8% 0 0;
  padding-top:3px;
}

main div p{
  margin: 3px 0;
}

.triangleleft{
  position: absolute;
  bottom: 8px;
  left: -16px;
  height: 20px;
  width: 20px;
}

.triangleright{
  transform: scaleX(-1);
  bottom: 8px;
  height: 20px;
  width: 20px;
  right: -16px;
  position: absolute;
}


